
body {
  background-image: url("https://i.pinimg.com/originals/05/2d/1e/052d1e0d9acab5e83601727336d9cde4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
