/* Załóżmy, że Twoja grafika ma nazwę "moje-tlo.jpg" i znajduje się w tym samym folderze co plik CSS */
/* Zastąp "moje-tlo.jpg" właściwą nazwą Twojej grafiki */

/* Ustaw tło dla całego dokumentu */
body {
  background-image: url("https://sm.ign.com/t/ign_pl/screenshot/default/9_y58a.1200.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Dostosuj kolor tła przycisków na liście */
.list-button {
  background-color: #c62828;
}
.list-button:hover {
  background-color: #b71c1c;
}

/* Dostosuj kolor tła rozwijanego menu (dropdown) */
.custom-dropdown-control {
  background-color: #c62828;
}

/* Dostosuj kolor linków w komórkach listy */
.cellLink-link {
  color: #1565c0;
}

/* Dostosuj kolor linków po najechaniu na nie */
.cellLink-link:hover {
  color: #1976d2;
}
